body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #0f172a;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

#buscador {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #3b82f6;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f8fafc;
}

tr:hover {
    background: #e0f2fe;
}